
body{
    font-family: "ヒラギノ明朝 ProN","HiraMinProN", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    color: #6E5C52;
}

/* section */

.section-wrap{
    padding: 100px;
}

.section-inner{
    margin: 0 auto;
    display: flex;
}

.section-content{
    width: 50%;
}

.section-image{
    width: 50%;
    overflow: hidden;
}

.section-ttl{
    font-size: 30px;
    font-weight: bold;
    color: #C73613;
    margin-bottom: 50px;
}

.section-text{
    font-size: 18px;
    line-height: 1.7;
}

.responsive-image{
    display: none;
}

/* serviceとaccess */

.service,
.access{
    background-color: #FCEDE5;
}

.service-ttl,
.service-text,
.access-ttl,
.access-text{
    padding-left: 100px;
}

/* header */

.header{
    display: flex;
    margin: 50px 100px;
    background: rgba(255,255,255,0.8);
    border: 1px solid #6E5C52;
    border-radius: 10px;
    height: 80px;
    width: 85vw;
    line-height: 80px;
    z-index: 999;
    position: absolute;
}

.header-nav{
    width: 50%;
    padding-right: 50px;
}

.header-list{
    display: flex;
    justify-content: right;
    white-space: nowrap;
}

.header-logo{
    width: 80px;
}

.header-ttl{
    display: flex;
    width: 50%;
}

.header-name{
    font-size: 30px;
    font-weight: bold;
    padding-left: 30px;
}

.header-item{
    padding-left: 30px;
    font-size: 20px;
    transition: 0.3s;
}

.header-item:hover{
    font-weight: bold;
}

.header-menu{
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-menu img{
    display: block;
}


/* mv */

.mv{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/cafe.jpg) ;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position: center left;
}

.mv-copy{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 85px;
    padding: 15px;
    background: rgba(255,255,255,0.8);
    border-radius: 10px 80px 30px 55px;
    border-bottom: 3px solid #C73613;
    border-right: 1px solid #C73613;
    font-size: 40px;
    line-height: 1.7;
    color: #C73613;
    font-family: "筑紫B丸ゴシック","筑紫A丸ゴシック","HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.mv-list{
    position: absolute;
    bottom: 50px;
    left: 100px;
    font-size: 25px;
    font-weight: bold;
    color: #C73613;
}

.mv-item{
    text-shadow:0.5px  0.5px 4px #fff,
                -0.5px  0.5px 4px #fff,
                0.5px -0.5px 4px #fff,
                -0.5px -0.5px 4px #fff;
}

.mv-item + .mv-item{
    padding-top: 15px;
}

/* access-btn */

.access-btn{
    position: fixed;
    bottom: 50px;
    right: 30px;
    padding: 30px 10px;
    background: rgba(255,255,255,0.8);
    border-radius: 100px;
    border-bottom: 3px solid #AB13C7;
    border-right: 1px solid #AB13C7;
    color: #AB13C7;
    font-size: 20px;
    font-weight: bold;
    font-family: "筑紫B丸ゴシック","筑紫A丸ゴシック","HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

/* access */

.access-color{
    color: #AB13C7;
}

.gmap {
    height: 0;
    overflow: hidden;
    padding-bottom: 35%;
    position: relative;
    }
    .gmap iframe {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    }

/* footer */

.footer{
    text-align: center;
    height: 50px;
    line-height: 50px;
}

/* ハンバーガーメニュー */

.header.is-active{
    border: none;
    background: none;
}
.header-ttl.is-active{
    display: none;
}


/* tab版 */

@media(max-width: 1150px){
    /* headerのmenu変更 */
    .header-nav{
        display: none;
    }
    .header-menu{
        display: block;
    }
    .header-list{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
    }
    /* タイトル調整 */
    .header-ttl{
        width: auto;
    }
    /* セクション調整 */
    .section-inner{
        display: block;
    }
    /* セクション画像調整 */
    .section-image{
        display: none;
    }
    /* レスポンシブ用画像表示 */
    .responsive-image{
        display: block;
        padding-bottom: 50px;
    }
    /* セクション内横幅調整 */
    .section-content,
    .responsive-image{
        width: 100%;
    }
    
    /* 文字の整列 */
    .service-ttl,
    .service-text,
    .access-ttl,
    .access-text{
        padding-left: 0;
    }
    .header{
        left: 0;
        right: 0;
        margin: 50px auto;
    }
    .mv{
        background-size: 200%;
    }
}

/* スマホ版 */
@media(max-width: 650px){
     /* header幅調整 */
    .header{
        width: 95vw;
    }
    .header-logo{
        width: 18vw;
    }
    .header-name{
        font-size: 5.5vw;
        padding-left: 0;
    }
    .header{
        margin: 30px auto;
    }
    /* セクション余白調整 */
    .section-wrap{
        padding: 50px 0;
    }
    .section-ttl{
        margin-bottom: 0;
    }
    .section-text{
        font-size: 16px;
        line-height: 1.6;
    }
    .responsive-image{
        padding-bottom: 20px;
    }
    /* mv調整 */
    .mv-copy{
        top: 40%;
        padding: 0;
        left: 0;
        font-size: 6.8vw;
        font-weight: bold;
        background: none;
        border: none;
        text-shadow:0.5px  0.5px 4px #fff,
                -0.5px  0.5px 4px #fff,
                0.5px -0.5px 4px #fff,
                -0.5px -0.5px 4px #fff;

    }
    .mv-list{
        font-size: 5vw;
        top: 50%;
        left:0;
    }
    .mv{
        background-size: 320%;
    }
    /* ボタン調整 */
    .access-btn{
        right: 10px;
        bottom: 10px;
    }
}